@model agencia_viagem_mvc.Models.Hotel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando Detalhes do Hotel";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Dados do Hotel a ser removido
    </div>
    <div class="panel-body">
        <div class="form-group">
            @Html.DisplayNameFor(model => model.NomeFantasia)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-bed"></i>
                </span>
                @Html.EditorFor(model => model.NomeFantasia, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

            </div>
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.Classificacao)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-star"></i>
                </span>
                @Html.EditorFor(model => model.Classificacao, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>


        <div class="form-group">
            @Html.DisplayNameFor(model => model.Endereco)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-home"></i>
                </span>
                <div class="form-control" disabled="true">
                    @Html.DisplayFor(model => model.Endereco)
                </div>

            </div>
        </div>
    </div>
    <div class="panel-footer panel-info">
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        @Html.ActionLink("Retornar a Listagem de Hoteis", "Index", null, new { @class = "btn btn-info col-md-12" })
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Remover Pacote" class="btn btn-danger col-md-8" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@Html.Partial("~/Views/Pacotes/_PorHotel.cshtml", Model.Pacotes.ToList())


@section ScriptPage{
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#menuHotel').addClass("active");
        });
</script>
}