@model agencia_viagem_mvc.Models.Hotel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando Dados do Hotel";
}

<div class="panel panel-primary">
    <div class="panel-heading">Detalhes Hotel @Html.DisplayFor(model => model.NomeFantasia)</div>
    <div class="panel-body">
        <div class="form-group">
            @Html.DisplayNameFor(model => model.NomeFantasia)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-bed"></i>
                </span>
                @Html.EditorFor(model => model.NomeFantasia, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

            </div>
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.Cnpj)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-list"></i>
                </span>
                @Html.EditorFor(model => model.Cnpj, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>

        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.Telefone)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-earphone"></i>
                </span>
                @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.Classificacao)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-star"></i>
                </span>
                @Html.EditorFor(model => model.Classificacao, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>


        <div class="form-group">
            @Html.DisplayNameFor(model => model.Endereco)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-home"></i>
                </span>
                @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                Bairro @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>

    </div>
    <div class="panel-footer panel-info">
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    @Html.ActionLink("Retornar a Listagem de Hoteis", "Index", null, new { @class = "btn btn-info col-md-12" })
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-info col-md-8" })
                </div>
            </div>
        </div>


    </div>
</div>
