@model agencia_viagem_mvc.Models.Hotel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <h4>Hotel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NomeFantasia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NomeFantasia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cnpj)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cnpj)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Classificacao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Classificacao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Endereco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Endereco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Bairro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bairro)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Retornar a Lista", "Index")
    </p>
</body>
</html>
