@model IEnumerable<agencia_viagem_mvc.Models.Pacote>

@{
    Layout = null;
}

<div class="panel panel-primary">
    <div class="panel-heading">Relação de Pacotes por Hotel</div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Nome)</th>
                    <th>Hotel</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.Hotel.NomeFantasia)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer panel-info"></div>
</div>