@model agencia_viagem_mvc.Models.Pacote

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando dados do Pacote";
}
<div class="panel panel-primary">
    <div class="panel-heading">Detalhes Pacote @Html.DisplayFor(model => model.Nome)</div>
    <div class="panel-body">
        <div class="form-group">
            @Html.DisplayNameFor(model => model.Nome)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-plane">
                    </i>
                </span>
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.Descricao)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-comment"></i>
                </span>
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
    </div>
    <div class="panel-footer panel-info">
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    @Html.ActionLink("Retornar para Listagem de Pacotes", "Index", null, new { @class = "btn btn-info col-md-12" })
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("Alterar", "Edit", new { id = Model.Id }, new { @class = "btn btn-info col-md-8" })
                </div>

            </div>
        </div>


    </div>
</div>