@model Modelo.Tabelas.Pacote

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Registrando Novo Pacote de Viagem";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">Adicionar Novo Pacote</div>
        <div class="panel-body">
            @Html.Partial("~/Areas/Tabelas/Views/Pacote/_PartialEditContentPanel.cshtml",Model)
        </div>
        <div class="panel-footer panel-info">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        @Html.ActionLink("Retornar para Listagem de Pacotes", "Index", null, new { @class = "btn btn-warning" })
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Adicionar Pacote" class="btn btn-info col-md-8" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section ScriptPage{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#menuPacote').addClass("active");
        });
    </script>
}