@model Modelo.Tabelas.Pacote

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Alterando informações do Pacote";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            Alterar Pacote de Viagem
        </div>
        <div class="panel-body">
            @Html.Partial("~/Areas/Tabelas/Pacotes/_PartialEditContentPanel.cshtml", Model)
        </div>
        <div class="panel-footer panel-info">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        @Html.ActionLink("Retornar para Listagem de Pacotes", "Index", null,  new { @class="btn btn-warning"})
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Save" class="btn btn-danger col-md-8" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Html.Partial("~/Areas/Cadastros/Views/Compras/_PorPacote.cshtml", Model.Compras.ToList())
@section ScriptPage{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $("#menuPacote").addClass("active");
        })
    </script>
}