@model IEnumerable<agencia_viagem_mvc.Models.Venda>

@{
    Layout = null;
}

<div class="panel panel-primary">
    <div class="panel-heading">Relação de Clientes do Pacote</div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        Pacote
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataAquisicao)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pacote.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataAquisicao)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-info panel-footer">
    </div>
</div>