@model IEnumerable<Modelo.Cadastros.Venda>

@{
    Layout = null;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Relação de Compras Realizadas por Cliente
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Descricao)</th>
                    <th>Cliente</th>
                </tr>
            </thead>
            <tbody>
                @foreach ( var item in Model) {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                        <td>@Html.DisplayFor(modelItem => item.Cliente.Nome)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer panel-info">

    </div>
</div>