@model Modelo.Cadastros.Compra

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando dados da Compra a ser Removida";
}
<div class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <div class="form-group">
            @Html.LabelFor(model => model.Cliente.Nome)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user "></i>
                </span>
                @Html.EditorFor(model => model.Cliente.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Pacote.Nome)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-plane"></i>
                </span>
                @Html.EditorFor(model => model.Pacote.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Descricao)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                </span>
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DataAquisicao)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
                @Html.EditorFor(model => model.DataAquisicao, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
    </div>
    <div class="panel-footer panel-info">
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    @Html.ActionLink("Retornar para Listagem de Compras", "Index", null, new { @class = "btn btn-info" })
                </div>
                <div class="col-md-6">
                    <a href="#" class="btn btn-info col-md-8" data-toggle="modal" data-target="#deleteConfirmationModal">Remover</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Confirmação de Exclusão da Compra
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    Voce esta prestes a remover a compra da listagem.
                </p>
                <p>
                    <strong>
                        Deseja prosseguir?
                    </strong>
                </p>
                @using (Html.BeginForm("Delete", "Compras", FormMethod.Post, new { @id = "delete-form", role = "form" })) {
                    @Html.HiddenFor(c => c.CompraId)
                    @Html.AntiForgeryToken()
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default col-md-offset-1 col-md-4" onclick="$('#delete-form').submit();">
                    Sim, excluir compra
                </button>
                <button type="button" class="btn btn-primary col-md-4" data-dismiss="modal">
                    Não, não excluir.
                </button>
            </div>
        </div>
    </div>
</div>
@section	ScriptPage	{
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#menuCompra').addClass("active");
        });
    </script>
}