@model Modelo.Cadastros.Cliente

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cadastrar Novo Cliente";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            Cadastrar Cliente
        </div>
        <div class="panel-body">
            @Html.Partial("~/Areas/Cadastros/Views/Clientes/_PartialEditContentPanel.cshtml", Model)
        </div>
        <div class="panel-footer panel-info">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        @Html.ActionLink("Retornar a Listagem de Clientes", "Index", null, new { @class = "btn btn-warning" })
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-info col-md-8">Cadastrar Cliente</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section ScriptPage{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#menuCliente').addClass("active");
        });
    </script>
}