@model Modelo.Cadastros.Cliente

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando Dados do Cliente";
}

<div class="panel panel-primary">
    <div class="panel-heading">Detalhes Cliente @Html.DisplayFor(model => model.Nome) </div>
    <div class="panel-body">
        @Html.Partial("~/Areas/Cadastros/Views/Clientes/_PartialDetailsContentPanel.cshtml",Model)
    </div>

    <div class="panel-footer panel-info">
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    @Html.ActionLink("Retornar a Listagem de Clientes", "Index", null, new { @class = "btn btn-info col-md-12" })
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("Alterar", "Edit", new { id = Model.ClienteId }, new { @class = "btn btn-info col-md-8" })
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Compras/_PorCliente.cshtml", Model.Compras.ToList())
@section ScriptPage{
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#menuCliente').addClass("active");
        });
    </script>
}